div.img {
    margin: 5px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
}

.food-picture{
	max-width: 380px;
	width:380px;
	max-height: 380px;
}

.main-form{
	margin-top: 5%;
}


li{
    width:100px;
    height: 40px;
}

